body {
    font-family: "Orbitron", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333131;
    text-align: center;
    margin: 0;
    height: 100%;
}

.container-body {
    padding-bottom: 120px;
    background-color: #333131;
}

.imglist{
    display: flex;
    width: 60px;
    height: 50px;
}


tr {
    font-size: 25px;
}

td {
    font-size: 25px;
    color:white;
}
p{
    word-spacing: 10px; /* Define um espaçamento de 10 pixels entre as palavras */
}


.titulo-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Altura total da viewport */


    width: 100%;
    overflow: hidden;
    background-color: #333131;
    color: #fff;
    font-size: 50pt;
    white-space: nowrap;
    position: relative;
    
}
.titulo-carousel p {
    position: absolute;
    width: 100%;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#frase2, #frase3 {
    display: none;
}


.carrossel_container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}


.search-bar {
    border-top: 2px solid white;
    padding: 10px;
    display: flex;
    
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 150%;
}
.search-bar button {
    padding:  5px 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    width:50%;   
}

.search-bar button:hover {
    background-color: #218838;
}

.search-bar button:hover {
    background-color: #218838;
}

.galeria {
    display: flex;
    /* Usar flexbox para alinhar as imagens em linha */
    justify-content: space-around;
    /* Espaçamento igual entre as imagens */
    border-bottom: 2px solid white;
}

.galeria img {
    max-width: 70px;
    /* Tamanho máximo para as imagens */
    margin: 10px;
    /* Espaços entre as imagens */
    border-radius: 8px;
    /* Bordas arredondadas para as imagens (opcional) */

}


.logo img {
    width: 250px;
    height: 150px;
}

.carousel {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    border-radius: 10px;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {

    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-images {
    width: 600px;
    height: 500px;

}

.footer-section{
    display: flex;
    justify-content: center;
    padding: 15px;

}
footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   background: #333;
   color: white;
   text-align: center;
   padding: 1rem;
}








