@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');



body {
    background-color: #2E2E2E;
    color: #FFFFFF;
    box-sizing: border-box;
    
}

/*.cabecalho {
    padding: 2% 0% 0% 15%;
    background-color: #2E2E2E;
}

.cabecalho__menu {
    margin: 20px;
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link:hover, 
.cabecalho__menu__link:visited, 
.cabecalho__menu__link:active {
    color: #FFFFFF; 
}

.cabecalho__menu__link {
    font-family: "Offside", sans-serif;
    font-size: 24px;
}*/



.titulo__clientes {
    font-family: "Offside", sans-serif;
    text-align: center;
    margin: 60px;
}

.conteudo__clientes {
    padding: 2% 10%;
    display: flex;
    justify-content: space-evenly;
}

.texto__imagem {
    font-family: "Offside", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}

.texto__link {
    font-family: "Offside", sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    align-items: end;
    margin: 5px;
}

img {
    border-radius: 16px;
  }

/*.rodape {
    background-color:#6e6e6e;
    text-align: center;
    font-family: "Offside", sans-serif;
    padding: 5px;

}*/
.container-body{
    background-color: #333;
    height: 1200px;
    color:white;
    
}
footer{
     position: absolute;
     bottom: 0;
     width: 100%;
     background: #333;
     color: white;
     text-align: center;
     padding: 1rem;
}
