body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    margin: 0;
    background-color: #333;
    
}

/*header {
    text-align: center;
    padding: 10px;
    background-color: #2e2e2e;
    color: #FFFFFF;*/
}

.cabecalho__menu {
    margin: 20px;
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link:hover, 
.cabecalho__menu__link:visited, 
.cabecalho__menu__link:active {
    color:white;
}

.cabecalho__menu__link {
    font-family: "Offside", sans-serif;
    font-size: 24px;
}

.container {
    display: flex;
    flex: 1;
    background-color: #333;
    color:white;
}

.coluna {
    /* flex: 1; */
    padding: 10px;
    border: 1px solid #444;
    box-sizing: border-box;
    background-color: #333;
}

.colunae {
    
    flex: 1; /* A primeira coluna ocupará 1 partes do espaço disponível */
}

.colunad {
    flex: 5; /* A segunda coluna ocupará 5 parte do espaço disponível */
    
}

h1 {
    text-align: center;
    font-family: "Orbitron", system-ui; 
    color:white;
    margin-bottom: 20px;

}

h2 {
    text-align: left;
    font-family: "Orbitron", system-ui; 
    color:white;
    font-size: 1rem;
    

}

.card {

    display: block;
    background-color: #333;
    border: 1px solid #444;
    color:white;
}

.menuinfo {
    text-align: left;
    font-size: 1rem;
    font-family: "Orbitron", system-ui;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
    
    
}

.btn-primary{

    color:white;

    background-color: #333;
    border: 1px solid #444;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


a {

    text-decoration: none;
    color:white;

    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
    text-decoration: none;
    color:white;
}


/*footer {
    margin-top: 8px;
    border-top: 1px solid #444;
    padding: 10px;
    background-color: #222;
    text-align: center;
    margin: -8px;
    display: block;
    position: initial;
    left: 50%;
    width: 100%;
    margin-block-end: -50px;
}*/

p{
    color:white;
       

}

h5 {
    text-align: center;
    font-size: 2rem;
    font-family: "Orbitron", system-ui; 
    color:white;
    margin-top: 200px;

}
.container-body{
    background-color: #333;
    height: 1300px;
    padding-bottom: 120px;
    margin: 0;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
