/*.footer {
    margin-top: 8px;
    border-top: 1px solid white;
    padding:10px;
    background-color:#333131;
    text-align: center;*/
   /* margin: -8px;*/
  /*  display: block;
    position: initial;
    left: 100%;
    width: 100%;*/
   /* margin-block-end: -50px;*/
  /*  align-content: center;
    justify-content: center;
}*/

p{
    color: #ccc;
    
}
footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   background: #333;
   color: white;
   text-align: center;
   padding: 1rem;
}
